* {
font-family: MonaspiceNE Nerd Font;
font-weight: bold;
font-size: 13.5px;
min-height: 0;
transition-property: background-color;
transition-duration: 0.5s;
}

window > box {
  border: 2px solid #206686;
  border-radius: 1px;
  background-color: rgba(1, 1, 1, 0.9);
}

tooltip {
  background: rgb(48, 45, 65);
}
tooltip label {
  color: rgb(217, 224, 238);
}
label.module {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(181, 232, 224);
}
